# Dependencies
node_modules/
frontend/node_modules/
backend/node_modules/
backend/firebase-service-account-key.json
backend/.env
frontend/.env-backup

# Firebase
firebase-service-account-key.json

# Expo
.expo/

# Frontend build output
frontend/dist/
frontend/web-build/
frontend/expo-env.d.ts

# Android/iOS build output
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo
