PORT=3000
NODE_ENV=development
CORS_ORIGIN=*

AI_PROVIDER_ORDER=gemini,openai,claude,cohere,huggingface,ollama,mock
OPENAI_API_KEY=your_openai_api_key_here
GEMINI_API_KEY=AIzaSyCl84nsKAAIFPO9pNrwHoxtXlOa8CnVgdw
FIREBASE_PROJECT_ID=ai-chat-c01f1
FIREBASE_API_KEY=AIzaSyAI8sL2MAcA3mzZFWSkASxp0k9lVq8xiOA
FIREBASE_AUTH_DOMAIN=ai-chat-c01f1.firebaseapp.com
FIREBASE_STORAGE_BUCKET=ai-chat-c01f1.firebasestorage.app
FIREBASE_MESSAGING_SENDER_ID=213548764508
FIREBASE_APP_ID=1:213548764508:web:0ce330080602b7da5e4599
FIREBASE_MEASUREMENT_ID=G-S9TZ15XW9P
FIREBASE_DATABASE_URL=https://ai-chat-c01f1-default-rtdb.firebaseio.com
FIREBASE_STORAGE_TYPE=both